NEXT_PUBLIC_ACCESS_CONTROL=0x1b69a89aCaae7d4Aebd0b1fcEE50c89bf9547F66
NEXT_PUBLIC_CORE=0x8CCDe2497ec6580077056d852E94752fF38A042E
NEXT_PUBLIC_REVIEWER_HUB=0x5bD964D7CfABbb2A7BdF0202880C8d5AD86C50BA
NEXT_PUBLIC_DISCLOSURE_CTRL=0x599da2BbF6E94859E15B2eCD2b95f1eF1f9dCE49
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your_walletconnect_project_id
PINATA_JWT=your_pinata_jwt_here
