# Hardhat deploy configuration
SEPOLIA_RPC_URL=https://ethereum-sepolia.publicnode.com
PRIVATE_KEY=your_private_key_here
ETHERSCAN_API_KEY=

# Latest deployed Sepolia contracts
NEXT_PUBLIC_ACCESS_CONTROL=0x11CA5A395E958Da09FA3A536083D130AE70F0899
NEXT_PUBLIC_CORE=0xAda01070cd7bFA4Deb06651d17bC8DCa5340256c
NEXT_PUBLIC_REVIEWER_HUB=0x5E1D2cF60BE742924540A6B776D437251e0EE53F
NEXT_PUBLIC_DISCLOSURE_CTRL=0x08D462652Cc4517220c275a45F1289B6F42efAA6
NEXT_PUBLIC_TOKEN=0xEF4E82bC002A7e68592F00c809E896368c9E32c3
NEXT_PUBLIC_REPUTATION=0xA1F21077C218095C7c511f558ac7754B1CA43805
NEXT_PUBLIC_TIMELOCKED=0x9587ce13587A8D38aE446a25073b0aBdF0bC1Fd5
NEXT_PUBLIC_DAO=0xbad25115cA45D516b42b1Bdc924397064419268e

# Frontend server-side IPFS upload token
PINATA_JWT=your_pinata_jwt_here
PINATA_API_KEY=your_pinata_api_key_here
PINATA_API_SECRET=your_pinata_api_secret_here

# WalletConnect project id
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your_walletconnect_project_id
