node_modules
frontend/node_modules
contracts/node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

contracts/artifacts
contracts/cache
contracts/dist
contracts/node_modules
contracts/test
contracts/types
contracts/hardhat.config.ts
contracts/package.json
contracts/tsconfig.json
contracts/yarn.lock
contracts/yarn.lock

contracts/typechain-types

frontend/.next